<h1>Editing phase_type_default_has_phyase_type</h1>

<%= render 'form' %>

<%= link_to 'Show', @phase_type_default_has_phyase_type %> |
<%= link_to 'Back', phase_type_default_has_phyase_types_path %>
