set a delivery date

<% if activity.trackable %>
 for <%= link_to activity.trackable.node.name, activity.trackable.node %>
	<div>
		<%= activity.trackable.string %> 
	</div>
<% else %>
 which has since been removed.
<% end %>