<% if @my_features != nil and @my_features.count < 1 %>
	Let's get started: <%= link_to Node.find(1).name, Node.find(1) %> 

<% else %>

			Your Features:

<div class="panel panel-default">
  <!-- Default panel contents -->
  <% @product = @my_feature_roles.first.node.belongs_to_product %>
  <div class="panel-heading"><%= link_to (@product.name + " Product"), @product %></div>
	<table>
	  	<% @my_feature_roles.each do |feature_role| %>
	  		<% @next_product = feature_role.node.belongs_to_product %>
			<% if @product.id != @next_product.id %>
			    	</td></tr>
			    </table>
			    </div>
			    <% @product = @next_product %>
			    <div class="panel panel-default">
			      <div class="panel-heading"><%= link_to (@product.name + " Product"), @product %></div>
					<table>
			    	
		  	<% end %>
		  	<tr><td><%= link_to feature_role.node.name, feature_role.node %></td></tr>
		<% end %>
	  </table>
	  </div>

	</ul>
	</div>

<% end %>