
log/development.log

db/development.sqlite3

db/my_database_dev

tmp/pids/server.pid

tmp/cache/assets/development/*

tmp/pids/server.pid

tmp/pids/server.pid

# Ignore application configuration
/config/application.yml

tmp/cache/assets/development/sprockets/13fe41fee1fe35b49d145bcc06610705

tmp/cache/assets/development/sprockets/13fe41fee1fe35b49d145bcc06610705

tmp/cache/assets/development/sprockets/2f5173deea6c795b8fdde723bb4b63af

tmp/cache/assets/development/sprockets/cffd775d018f68ce5dba1ee0d951a994

tmp/cache/assets/development/sprockets/357970feca3ac29060c1e3861e2c0953

tmp/cache/assets/development/sprockets/f7cbd26ba1d28d48de824f0e94586655

tmp/cache/assets/development/sprockets/d771ace226fc8215a3572e0aa35bb0d6
