<% filters = session[:filters] %>
    <% if filters != nil and filters.count > 0 %>
      <div class="alert alert-info" role="alert">

        Filtered to only show product targeted through 
        <% filters.each do |filter| %>
          <% milestone = Milestone.find(filter[1]) %>
          <span class="label label-info"><%= milestone.name %> <a href="#" class="remove_milestone_filter" id="<%= milestone.id %>">X</a></span>

      </div>


      <script type="text/javascript">
      $('.remove_milestone_filter').click(function(){
        var milestone_id = $(this).attr('id');
        console.log(milestone_id);
          $.ajax({url: "/remove_filter", type: "POST", data: {'filter_type': 1 ,'filter_data': milestone_id}, dataType: 'json'}).done(function(data){
            window.location.reload(false); 
          });
      });
      </script>

    <% end %>
  <% else %>
    <% filters = Array.new %>
  <% end %>
<%#= session[:filters] %>
