<head>

    
    <style>
      body { font-family:'lucida grande', tahoma, verdana, arial, sans-serif; font-size:11px; }
      h1 { font-size: 15px; }
      a { color: #548dc4; text-decoration: none; }
      a:hover { text-decoration: underline; }
      table.testgrid { border-collapse: collapse; border: 1px solid #CCB; width: 800px; }
      table.testgrid td, table.testgrid th { padding: 5px; border: 1px solid #E0E0E0; }
      table.testgrid th { background: #E5E5E5; text-align: left; }
      input.invalid { background: red; color: #FDFDFD; }
    </style>
    
    <script>
      window.onload = function() {

        // this approach is interesting if you need to dynamically create data in Javascript 
        var metadata = [];
        metadata.push({ name: "node", label: "NODE", datatype: "string", editable: true});
        metadata.push({ name: "status", label:"STATUS", datatype: "string", editable: true});
        metadata.push({ name: "age", label: "AGE", datatype: "integer", editable: true});
        metadata.push({ name: "height", label: "HEIGHT", datatype: "double(m,2)", editable: true});
        metadata.push({ name: "country", label: "COUNTRY", datatype: "string", editable: true});
        metadata.push({ name: "email", label: "EMAIL", datatype: "email", editable: true});
        metadata.push({ name: "freelance", label: "FREELANCE", datatype: "boolean", editable: true});
        metadata.push({ name: "lastvisit", label: "LAST VISIT", datatype: "date", editable: true});

        // a small example of how you can manipulate the object in javascript
        metadata[4].values = {};
        metadata[4].values["Europe"] = {"be":"Belgium","fr":"France","uk":"Great-Britain","nl":"Nederland"};
        metadata[4].values["America"] = {"br":"Brazil","ca":"Canada","us":"USA"};
        metadata[4].values["Africa"] = {"ng":"Nigeria","za":"South-Africa","zw":"Zimbabwe"};

        var data = [];
        data.push({id: 1, values: {"node":"uk","status":33,"name":"Duke","firstname":"Patience","height":1.842,"email":"patience.duke@gmail.com","lastvisit":"11\/12\/2002"}});
        <% @row = 2 %>
        <% @node.children.each do |child| %>
        data.push({id: <%=@row%>, values: {"node":"<%= child.name %>","status":"<%= child.status %>","name":"Duke","firstname":"Patience","height":1.842,"email":"patience.duke@gmail.com","lastvisit":"11\/12\/2002"}});
        <% @row = @row + 1 %>
        <% end %>
             
        editableGrid = new EditableGrid("DemoGridJsData");
        editableGrid.load({"metadata": metadata, "data": data});
        editableGrid.renderGrid("tablecontent", "testgrid");
      } 
    </script>
    
  </head>
  
  <body>
    <h1>EditableGrid - Minimal Demo - Creating grid in Javascript - <a href="../index.html">Back to menu</a></h1> 
    <div id="tablecontent"></div>
  </body>