<h1>All Product Nodes</h1>
<% if @nodes.count == 0 %>
  <%= link_to 'New Node', new_node_path %></br></br>
<% end %>
<table>
  <tr>
    <th>Name</th>
  </tr>

  <% @nodes.each do |node| %>
    <tr>
      <td>
        <% if node.parent != nil %>
        <%= node.parent.name %> >
        <% end %>
        <%= link_to node.name, node %>
      </td>
    </tr>
  <% end %>
</table>
