<div class="bar">
	<span class="bar_header">Define What Makes up Your Product</span>
	<br/>Manage your product at multiple layers, not in an issue tracker or spreadsheet.
</div>

<div class="bar">
	<span class="bar_header">Track Your Product Progress</span>
	<br/>Track what's done, what's in progress, and what's left.
</div>

<div class="bar">
	<span class="bar_header">Coordinate When and Where Your Product Goes</span>
	<br/>Target Features to Milestones and Environments. Then use those targets to filter your product map to increase focus on your progress.
</div>

<div class="bar">
	<span class="bar_header">Groom the Backlog at Any Layer</span>
	<br/>Drag and Drop Features to prioritize your products functionality. Priortize functionality within a specific feature, or across product suites (and everywhere in-between).
</div>

<div class="bar">
	<span class="bar_header">Manage Dependencies Across Products</span>
	<br/>Identify Product Dependencies to help you sequence and priortize development.
</div>

<div class="bar">
	<span class="bar_header">Coordinate Across Teams</span>
	<br/>From Product to Product, or Product to the Rest of the Organization
</div>

<div class="bar">
	<span class="bar_header">Connect to Other Systems</span>
	<br/>Connect with GitHub, and design documents stored anywhere in the cloud.
</div>

<div class="bar">
	<span class="bar_header">Product Mapper - The PM Tool </span>
	<br/>(not a spreadsheet, issue tracker, task management tool... but a tool designed for managing product)
</div>

<div class="bar">
	<span class="bar_header">Whats Next? </span>
	<br/>Who knows? User stories? Acceptance criteria? RFP Feature Tracking?
</div>
<div align="center">
  Contact Us | © 2015
</div>