<h1>All Node Types</h1>
<%= link_to 'New Node', new_node_type_path %></br></br>

<table>
  <tr>
    <th>Name</th>
  </tr>

  <% @nodeTypes.each do |nodeType| %>
    <tr>
      <td><%= link_to nodeType.name, nodeType %></td>
      <td><%= link_to 'Edit', edit_node_type_path(nodeType) %></td>
    </tr>
  <% end %>
</table>

<h2>Node Type Phase Types for Node</h2>
<table>
	<tr>
		<th>Established at Node</th>
		<th>Node Type</th>
		<th>Phases</th>
	</tr>
</table>
<%= link_to 'New NT-PT for Node', new_node_has_phase_type_default_path %>