<h1>Editing node_has_functional_design_document</h1>

<%= render 'form' %>

<%= link_to 'Show', @node_has_functional_design_document %> |
<%= link_to 'Back', node_has_functional_design_documents_path %>
