<%= form_for(@phase_type_default) do |f| %>
  <% if @phase_type_default.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@phase_type_default.errors.count, "error") %> prohibited this phase_type_default from being saved:</h2>

      <ul>
      <% @phase_type_default.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
