added an issue with <% @node = Node.find(activity.trackable.issue_with_id) %><%= link_to @node.name, @node %>
	<div>
		<span style="font-size:24px;color:grey"  class="glyphicon glyphicon-flag" aria-hidden="true"></span> 
		Issue: <%= link_to activity.trackable.summary, activity.trackable %> 
	</div>