responded to 
<% if activity.parameters[:type] == "issue" %>
	<% @has_issue = NativeIssueHasResponse.where(:response_id => activity.trackable.id).first %>
	the issue: <%= link_to @has_issue.native_issue.summary, @has_issue.native_issue if @has_issue%>
<% elsif activity.parameters[:type] == "question" %>
<% @has_question = QuestionHasResponse.where(:response_id => activity.trackable.id).first %>
	the question: <%= link_to @has_question.question.question, @has_question.question if @has_question%>
<% else %>
<% end %>
	<div>
		<span style="font-size:24px;color:grey"  class="glyphicon glyphicon-share-alt" aria-hidden="true"></span> 
		Response: <%= activity.trackable.content %> 
	</div>